.about-me {
  background: linear-gradient(
    45deg,
    rgba(153, 41, 234, 1) 30%,
    rgba(88, 8, 251, 1) 100%
  );
}
.download-re {
  background: none;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
  margin-right: 30px;
}
.download-re:hover {
  color: black;
}

.view-re {
    background: white;
    color: black;
  border: 2px solid white;
  transition: 0.5s;
}

.view-re:hover{
    background: none;
    color: white;
}
